.selectConf{
	
     height: auto;
/*     background-color: #3e5064; */
/*     color: #fff; */
    font-size: 18px;
}
.panelHeadingBold{
	font-size:21px;
}
.labelstyle
{
	font-size:17px;
}

.btnDesign{
	    color: #fff;
    background-color: #5c6872;
    border-color: #212529;
}

.spanMsg {
	background-color: #5c6872;
    color: #fff;
    margin: 5px;
    padding: 10px 5px;
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
}

#msgBox{
/* 	background-color:red; */
	margin:20px;
	font-size:20px;
}
.marginBottom{
	margin-bottom:15px;
}
.validMaterialMsgStyle{
	color: #fff;
    font-size: 19px;
    padding: 10px;
}
hr.new3 {
  border-top: 10px dotted red;
}
#procedure{
	padding: 5px;
    margin-top: 5px;
    margin-bottom: -50px;
    font-size: 15px;
}  

#forceEntered,#calculationVal,#calOutputVoltage,#calCharge
{
			background-color: #274460e6;
			color:#fff;
/* 			padding:5px 20px 5px 5px; */
			margin: 2px;
}

#calVoltage{
	background-color: #072647;
			color:#fff;
			padding:5px 20px 5px 5px;
			margin: 5px;
}


#concreteLabel,#steelLabel{
    padding: 4px;
    text-align: center;
}
	
#testSubmit
{
	padding: 10px;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	background-color: #212529;
	margin: 20px 10px;;
	letter-spacing: 1px;
	font-weight: bold;
/* 	box-shadow: 0 5px #999; */
}
#questionDiv .queno
{ 
	background-color: #1d2b37;
    padding: 8px;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    font-family: Cambria, Georgia, serif;
 }
 
 #testSubmit,#nextLevelConfig
{
	padding: 10px;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	background-color: #212529;
	margin: 20px 10px;;
	letter-spacing: 1px;
	font-weight: bold;
/* 	box-shadow: 0 5px #999; */
}
.nextLevelBtn {
	padding: 10px;
    border-radius: 10px;
    background-color: #212529;
    color: #fff;
    margin: 20px 10px;
    letter-spacing: 1px;
    font-size: 18px;
}
.panel-primary>.panel-heading,.card-header,.modal-header {
background-color:#072647;
	color:#fff;
	border-color:blue;	
	font-weight: bold;
}	
.boldTextBlue{
	color:Blue;
	letter-spacing: 0px;
	font-size: 18px;
}
.boldTextRed{
	color:Red;
	letter-spacing: 0px;
	font-size: 18px;
}
.boldTextGreen{
	color:green;
	letter-spacing: 0px;
	font-size: 18px;
}
.model
{
	padding:0px;
}  
.errorMsgf
{
	
}
#alertMsgBox{
	margin-top:25px;
}

#dropdown
{
			background-color: #608aa3;
			color:#fff;
/* 			padding:5px 20px 5px 5px; */
			margin: 2px;
}
.timer{
font-size: 22px;
    background-color: #fff;
    padding: 8px;
    color:#000;
    border-radius: 10px;
    }